.api-container{
    min-height: 90vh;
    background: linear-gradient(to top,  #000428, #004e92);
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.api-head {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #000;
}

.api-box-container {
    width: fit-content;  
    padding: 1rem;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.api-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-top: 10px;
    color: #1877F2;
}

.fa-github-square {
    font-size: 150px;
}
